*{
    margin-top:0;
}
body{
    margin:0;
    line-height: 1.5;
    font-size: 1rem;
}
.block{
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
.block--about{
    min-height: 500px;
    height: 100vh;
    background: red;
}

.block--hero{

    min-height: 600px;
    background: linear-gradient(90deg, #4a0e8f 0%, #b430a7 51%, #4a0e8f 100%);
    color: #ffffff;
}